<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="" class="navbar-brand"> Library App</a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav">
                 
                    <li class="nav-item">
                        <a href="/signin" class="nav-link">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Sign Up</a>
                    </li>
                   
                </ul>
            </div>
    
        </div>
       </nav>

    <!-- show case -->
   <section class="intro  text-light p-1 p-lg-0 pt-5 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-">
            <div>
                <h1>Become  a <span class="text-warning">Good Reader</span> </h1>
                <p class="lead my-4">When you pick up a good book you feel it instantly. Not only are they well written and packed with ideas and insight, but they’re well organized. You want to read the next page.</p>
                <p class="lead">Start books quickly but give them up easily.  One of the biggest things that holds people back when reading is our desire to finish what we start. Good books finish themselves. You can’t put them down. Trying to finish a bad book, on the other hand, is like walking through the mud with a wheelbarrow full of bricks. Life is too short.</p>
                <a href="/signin"  class="btn-lg btn btn-primary " >Start Reading</a>
             </div>
            
            <img class="img-fluid w-50  d-none d-sm-block" src="/images/reading.png" alt="">
        </div>
    </div>
</section>


<footer class="pt-5 bg-dark text-white text-center position-relative">
    <div class="container">
      
        <p>Developed By  <i class="bi bi-heart"> </i>  Syamjith</p>      

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>

</footer>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>